.banner {
  background-image: url('../../assets/img/nosotros/Banner_Nosotros.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .banner {
    max-height: 90vh;
    background-position: top center;
  }
}
