.sede1 {
  background-image: url('../../../assets/img/sedes/CATA-NJ-3.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.sede2 {
  background-image: url('../../../assets/img/sedes/CATA-NJ-2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
